<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Show</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="card">
        <h2 class="card-header bg-info">Edit Show</h2>
        <div class="card-body">
            <form class="form-group " action="{% url 'update_show' show_edited.id %}" method="POST">
                {%csrf_token%}
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="title">Title</label>
                    <input class="form-control col-sm-9" value="{{show_edited.title}}" type="text" name="title" id="title">
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="network">Network</label>
                    <input class="form-control col-sm-9" value="{{show_edited.network}}" type="text" name="network" id="network">
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="release_date">Release Date</label>
                    <input class="form-control col-sm-9"  value="{{show_edited.release_date|date:'Y-m-d'}}" type="date" name="release_date" id="release_date">
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="description">Description</label>
                    <textarea class="form-control col-sm-9" name="desc" id="description" cols="30" rows="6">{{show_edited.desc}}</textarea>
                </div>
                <div class="form-group row">
                    <div class=" offset-sm-2">
                        <button class="btn btn-outline-dark " type="submit">Update</button>
                    </div>
                </div>
            </form>
        </div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="card-footer">
            <a class="float-right" href="{% url 'all_shows' %}">Go Back</a>
            <a href="{% url 'view_show' show_edited.id %}">Go to Show</a>
        </div>
    </div>
    </form>

</body>

</html>